        @font-face {
            font-family: "Muli-Regular";
            src: url(../assets/fonts/Muli-Regular.woff) format('woff');
        }
        
        @font-face {
            font-family: "Muli-Bold";
            src: url(../assets/fonts/Muli-Bold.ttf) format('ttf');
            font-weight: bold;
        }
        
        @font-face {
            font-family: "Muli-BoldItalic";
            src: url(../assets/fonts/Muli-BoldItalic.ttf) format('ttf');
            font-weight: bold;
            font-style: italic;
        }
        
        @font-face {
            font-family: "Muli-ExtraBold";
            src: url(../assets/fonts/Muli-ExtraBold.woff) format('woff');
            font-weight: bold;
        }
        
        @font-face {
            font-family: "Muli-Italic";
            src: url(../assets/fonts/Muli-Italic.ttf) format('ttf');
            font-style: italic;
        }
        
        @font-face {
            font-family: "Muli-Semi-BoldItalic";
            src: url(../assets/fonts/Muli-Semi-BoldItalic.ttf)format('ttf');
            font-style: italic;
            font-weight: bold;
        }
        
        .header {
            background-image: url(../img/header/big-img.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
            position: relative;
            background-repeat: no-repeat;
        }
        
        .container {
            max-width: 1720px;
            margin: 0 auto;
        }
        
        .header__top {
            padding: 75px 0 111px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }
        
        .menu__list {
            text-transform: uppercase;
            font-size: 16px;
            color: #ffffff;
            line-height: 40px;
            display: flex;
        }
        
        .menu__item {
            margin-right: 35px;
        }
        
        .menu__item:last-child {
            margin-right: 0;
        }
        
        .menu-link {
            text-decoration: none;
            font-family: 'Muli-Bold', sans-serif;
        }
        
        .header__logo {
            position: absolute;
            left: 50%;
            transform: translate(-108px, 10px);
        }
        
        .header__right-block {
            display: flex;
            align-items: center;
        }
        
        .header__personal {
            margin-right: 135px;
            position: relative;
        }
        
        .header__personal::after {
            content: "";
            display: block;
            height: 2px;
            width: 47px;
            background-color: white;
            opacity: 0.3;
            position: absolute;
            top: 22px;
            left: 230px;
        }
        
        .personal__list {
            display: flex;
        }
        
        .personal__list-item {
            margin-right: 45px;
        }
        
        .personal__list-item:last-child {
            margin-right: 0;
        }
        
        .personal__counter {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            left: 30px;
            bottom: 25px;
            width: 22px;
            height: 21px;
            background-color: #fff;
        }
        
        .personal__link {
            position: relative;
        }
        
        .social__list {
            display: flex;
        }
        
        .social__list-item {
            height: 35px;
            max-width: 35px;
            min-width: 35px;
            border-radius: 50%;
            background-color: white;
            text-align: center;
            margin-right: 10px;
        }
        
        .social__list-item:last-child {
            margin-right: 0;
        }
        
        .social__img {
            position: relative;
            top: 6%;
        }
        
        .header__content {
            display: flex;
            justify-content: center;
        }
        
        .btn {
            border-radius: 35px;
            height: 60px;
            font-size: 21px;
            font-family: "Muli-ExtraBold";
            font-weight: bold;
            color: white;
        }
        
        .header__btn {
            width: 280px;
            height: 70px;
            font-size: 24px;
            line-height: 40px;
        }
        
        .btn--green {
            background-color: green;
        }
        
        .header-heading {
            color: white;
            font-size: 95px;
            line-height: 95px;
            text-align: center;
            margin-top: 315px;
        }
        
        .smoothies {
            min-height: 870px;
            margin: 0 auto;
        }
        
        .title {
            font-family: "Muli-ExtraBold";
            color: #f7ae3b;
            font-weight: bold;
            font-size: 50px;
        }
        
        .smoothies__title {
            color: #f7ae3b;
            margin-top: 97px;
            margin-bottom: 40px;
            text-align: center;
        }
        
        .smoothies__text {
            max-width: 915px;
            margin-bottom: 90px;
            text-align: center;
            margin: 0 auto 60px;
        }
        
        .smoothies__wrapper {
            display: flex;
            justify-content: center;
            max-width: 980px;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 auto;
            flex: 1 0 25%;
        }
        
        .smoothies__card {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            width: 25%;
            height: 180px;
        }
        
        .smoothies__heading {
            color: #f2612d;
            margin-top: 27px;
            margin-bottom: 30px;
        }
        
        .about__wrapper {
            background-color: #127f70;
            display: flex;
            justify-content: center;
        }
        
        .about__img {
            width: 691px;
            height: 818px;
            transform: translateY(63px);
            -webkit-transform: translateY(63px);
            -moz-transform: translateY(63px);
            -ms-transform: translateY(63px);
            -o-transform: translateY(63px);
        }
        
        .about__text {
            margin-left: 120px;
        }
        
        .about__title {
            color: #ffffff;
            font-size: 55px;
            line-height: 60px;
            max-width: 644px;
            padding: 100px 0 0 0;
        }
        
        .about__list {
            margin-top: 60px;
            margin-bottom: 50px;
        }
        
        .about-item {
            margin-bottom: 22px;
            color: #ffffff;
        }
        
        .about__text--bold {
            font-family: "Muli-Bold", sans-serif;
            font-weight: bold;
        }
        
        .about__btn {
            border: 2px solid #f8b231;
            background: #127f70;
            text-decoration: none;
            width: 380px;
            height: 60px;
            display: inline-block;
            font-size: 21px;
            line-height: 22px;
            text-align: center;
            padding: 18px 91px 15px 30px;
            margin-bottom: 94px;
        }
        
        .btn--white {
            border: 2px solid #e34761;
        }
        
        .products__wrapper {
            display: flex;
        }
        
        .products__box {
            display: flex;
            width: 25%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            padding: 125px 0 80px;
        }
        
        .products__heading {
            margin: 35px 0 60px;
            text-align: center;
            color: white;
        }
        
        .products__box--red {
            background-color: #672a15;
        }
        
        .products__box--green {
            background-color: #198674;
        }
        
        .products__box--yellow {
            background-color: #f7af3a;
        }
        
        .products__box--orange {
            background-color: #bf4c1c;
        }
        
        .products__btn {
            text-align: center;
            width: 198px;
            display: inline-block;
            text-decoration: none;
            padding: 20px 128px 15px 33px;
            line-height: 22px;
            border: 2px solid #ffffff;
            position: relative;
        }
        
        .products__btn::before {
            content: '';
            display: block;
            background-image: url(../img/products/Arrow-white.png);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 25px;
            bottom: 20px;
            width: 30px;
            height: 16px;
        }
        
        .story {
            min-height: 882px;
            margin: 0 auto;
        }
        
        .story__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 120px;
        }
        
        .story__content {
            margin-right: 200px;
        }
        
        .story__title {
            padding-bottom: 45px;
        }
        
        .story__text {
            width: 510px;
            padding-bottom: 56px;
            font-weight: bold;
        }
        
        .story__btn {
            padding: 21px 143px 23px 29px;
            display: inline-block;
            width: 302px;
            text-decoration: none;
            line-height: 15px;
            background-color: #0aa566;
        }
        
        .testimonials {
            background-color: #632d1b;
            padding: 117px 0 80px;
        }
        
        .testimonials__excerpt {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
        .testimonials__santa {
            color: red;
        }
        
        .testimonials__avatar {
            padding-left: 55px;
        }
        
        .arrows {
            text-align: center;
            padding-top: 140px;
        }
        
        .testimonials__wrap {
            align-items: center;
            max-width: 455px;
        }
        
        .testimonials__blockquote {
            color: #ffffff;
            text-align: center;
            padding-bottom: 31px;
        }
        
        .testimonials__santa {
            color: #f7ae3b;
            display: block;
            text-align: center;
        }
        
        .testimonials__title {
            text-align: center;
            position: relative;
            margin-bottom: 128px;
        }
        
        .testimonials__love {
            text-transform: uppercase;
            color: #f2612d;
        }
        
        .blog {
            min-height: 797px;
            padding: 94px 0 196px;
        }
        
        .blog__wrapp {
            display: flex;
            justify-content: center;
        }
        
        .blog__title {
            margin-bottom: 48px;
        }
        
        .blog__content {
            margin-left: 60px;
            padding: 185px 0 0 0;
        }
        
        .blog__heading {
            color: #f2612d;
        }
        
        .blog__text {
            max-width: 540px;
            padding: 0 0 0 65px;
        }
        
        .instagram {
            display: flex;
            flex-direction: column;
        }
        
        .instagram__title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            font-size: 24px;
            line-height: 40px;
        }
        
        .instagram__link {
            text-decoration: none;
            color: #0aa566;
            font-size: 24px;
            line-height: 40px;
            font-family: "Muli-Bold", sans-serif;
        }
        
        .instagram__wrapper {
            display: flex;
        }
        
        .instagram__card {
            flex-grow: 1;
            width: 25%;
        }
        
        .instagram__img {
            width: 100%;
            height: 100%;
        }
        
        .footer__info_heading {
            font-weight: 800;
            color: white;
            padding-bottom: 40px;
            font-size: 26px;
            line-height: 40px
        }
        
        .footer__content {
            background: #f6ad38;
            display: flex;
            padding: 79px 0 93px 0;
            justify-content: center
        }
        
        .footer__logo {
            margin-top: 80px;
        }
        
        .footer__info {
            margin-left: 296px;
        }
        
        .footer__info_item {
            color: #6d450c;
            font-weight: bold;
            line-height: 35px;
        }
        
        .footer__info_link {
            text-decoration: none;
        }
        
        .footer__pay {
            margin-left: 150px;
            display: flex;
            flex-direction: column;
        }
        
        .footer__pay-heading {
            color: white;
            padding-bottom: 27px;
            font-size: 26px;
            line-height: 40px;
            font-weight: 800;
        }
        
        .footer__pay-list {
            width: 247px;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            align-items: center;
        }
        
        .footer__block {
            margin-left: 160px;
            display: flex;
            flex-direction: column;
        }
        
        .footer__block-heading {
            color: white;
            font-size: 26px;
            line-height: 40px;
            font-weight: bold;
            padding-bottom: 33px;
        }
        
        .footer__block-input {
            font-family: "Muli-Bold", sans-serif;
            padding: 23px 217px 23px 61px;
            font-size: 17px;
            color: #6d450c;
            font-weight: bold;
            line-height: 35px;
            border-radius: 35px;
            width: 495px;
            height: 60px;
            margin-bottom: 27px;
            border: none
        }
        
        .footer__block-input::placeholder {
            color: inherit;
        }
        
        .footer__box-small {
            display: flex;
            margin-left: 183px;
        }
        
        .footer__follow-us {
            /* width: 108px; */
            color: #805313;
            font-size: 18px;
            font-weight: 800;
            line-height: 40px;
            background-color: #f6ad38;
            text-transform: uppercase;
            font-family: "Muli-ExtraBold";
            border: none;
            margin-right: 41px;
        }
        
        .footer__block-form {
            display: flex;
            align-items: center;
        }
        
        .footer__social {
            width: 110px;
        }
        
        .footer__social-list {
            display: flex;
            justify-content: space-between;
        }
        
        .footer__row {
            height: 60px;
            background: #6d450c;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        
        .footer__center-text {
            font-size: 13px;
            line-height: 35px;
            color: #af8a82;
            display: block;
            text-align: center;
        }
        
        .footer__btn-top {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            background-color: #f2662f;
            position: fixed;
            right: 35px;
            bottom: 45px;
            background-image: url(../img/footer/Iconup.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .footer__btn-top::after {
            content: "Go top";
            color: white;
            font-family: "Muli-Bold", sans-serif;
            font-size: 16px;
            line-height: 40px;
            position: absolute;
            right: 54px;
            top: 38px;
            display: block;
            width: 55px
        }