@font-face {
    font-family: "Muli-Regular";
    src: url(../fonts/Muli-Regular.woff) format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Muli-Bold";
    src: url(../fonts/Muli-Bold.ttf) format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Muli-BoldItalic";
    src: url(../fonts/Muli-BoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Muli-ExtraBold";
    src: url(../fonts/Muli-ExtraBold.woff) format('truetype');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Muli-Italic";
    src: url(../fonts/Muli-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Muli-Semi-BoldItalic";
    src: url(../fonts/Muli-Semi-BoldItalic.ttf)format('truetype');
    font-style: italic;
    font-weight: 600;
    font-display: swap;
}