@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin flex ($justify-content: null, $align-items: null, $flex-wrap:null, $flex-direction: null) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
}